---
const pageTitle = 'Aon MySuper Dashboard';
const seoDescription = "Use this dashboard to compare Aon MySuper with other MySuper products.";
---

<html lang="en">
  <head>
    <title>{pageTitle}</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover" shrink-to-fit="no"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content={seoDescription} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={seoDescription} />
    <meta property="og:type" content="website" />
    <meta property="twitter:title" content={pageTitle} />
    <meta property="twitter:description" content={seoDescription} />
    <meta name="twitter:card" content="summary_large_image"/>

    <link rel="stylesheet" href={Astro.resolve('../styles/global.scss')}>

  </head>
  <body>
    <main >
      <slot />
    </main>
  </body>
</html>
